<% if customer_signed_in? %> 
  <%= button_to "Sign out", destroy_customer_session_path, method: :delete, class: "float_right" %>
  <div class="container">
    <h1>Cat Bank</h1>
    <h2>Welcome <%= current_customer.email %></h2>
    <p>Your balance is <%= current_customer.balance %> silveuros</p>
    <%= button_to "Send silveuros", payment_path, method: :get %>
  </div>
<% else %>
  <%= button_to "Sign in", new_customer_session_path %> 
<% end %>
